.product-show {
  display: flex;

  .product-info {
    padding: 1em;

    .product-image {
      height: 50%;
    }

    .product-desc {
      color: $white
    }
  }

  .product-customization {
    color: $white;

    .product-name {
      color: $white;
    }

    .custom-form {

      .price-form {

      }

      .ocassion-form {

      }

      .message-form {

      }
    }
  }

}
