<div class="card-product">
  <h5>
    <%= product.name %>
  </h5>
  <p>
    <%= product.description%>
  </p>
  <span><%= product.min_price %></span>
  <%= link_to "Personnaliser", product_path(product) %>
</div>
