<% if user_signed_in?   %>
<%= current_user.id %>
<% end %>
<%= session.id  %>

<div class="shop-container">
    <div id="menu-products-container">
        <%= render 'shop/products'%>
    </div>
</div>
