<h1 class= "title">Admin</h1>
<div class="container">
  <a class="admin-link" href="<%=orders_path%>"><h5>Mes Commandes</h5></a>
  <a class="admin-link" href="<%=categories_path%>"><h5>Mon Catalogue</h5></a>
</div>
