<div class="banner">
</div>

<div class="container text-center">
  <h1 class="heading-home pb-4">Solstice Fleuriste</h1>
  <%= link_to "Découvrez mes créations", creations_path, class:"btn-cta" %>
</div>
