.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  box-shadow: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: relative;

  .mapboxgl-ctrl-geocoder--icon-loading {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--button {
    border: none;
    background-color: white;
  }

  .suggestions-wrapper {
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 0.8em;
    width: 90%;
    left: 5%;
  }

  .form-check-label {
    color: black !important;
  }
}
