.card-product {
  background-color: white;

  .product-info {
    display: flex;
    .product-spec1 {
      display: block;

      .product-images {
        display: inline;
      }

      .product-images img {
        height: 1em
      }
    }

    .product-spec2 {
      display: block;
    }
  }

  .product-actions {
    display: flex;
  }

}
