<h1 class= "title"><%= @category.name %></h1>
<div class="container">

  <!-- Create New Product-->
  <%= link_to "Ajouter un Produit", new_category_product_path(@category), class:"btn-cta"%>

  <!-- Display Products-->
  <% @products.each do |product| %>
    <%= render 'products/card_product', product: product%>
  <% end %>
</div>
